 <thead>
        <tr>
            <td>Id</td>
            <td>Title</td>
            <td>Author</td>
            <td>Year</td>
            <td>Genre</td>
        </tr>
    </thead>
        <td><%- id %></td>
        <td><%- title %></td>
        <td><%- author %></td> 
        <td><%- year %></td>
        <td><%- genre %></td>   