<thead>
        <tr>
            <td>Id</td>
            <td>Firstname</td>
            <td>Lastname</td>
            <td>Email</td>
        </tr>
    </thead>
        <td><%- id %></td>
        <td><%- firstname %></td> 
        <td><%- lastname %></td>
        <td>Email: <%- email %></td>